[Unit]
Description=Opening Capsule
After=pipewire-pulse.service pipewire-pulse.socket pipewire.service pipewire.socket wireplumber.service
Requires=pipewire-pulse.service pipewire-pulse.socket pipewire.service pipewire.socket wireplumber.service

[Service]
Type=simple
ExecStart=/Capsule/start-stream3.sh
Restart=always

[Install]
WantedBy=default.target
