[Unit]
Description=Opening Capsule
After=pipewire-pulse.service pipewire-pulse.socket pipewire.service pipewire.socket wirep>
Requires=pipewire-pulse.service pipewire-pulse.socket pipewire.service pipewire.socket wi>

[Service]
Type=simple
ExecStart=/Capsule/start-stream3.sh
Restart=always

[Install]
WantedBy=default.target
